/* Global Selector */
*{
    /* CSS Reset */
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* Tag Selector */

h1{
    color: #b95a5a;
}

/* Id Selector */

#login{
    color: #352d2d;
}

/* Class Selector */

.form-input{
    padding: 10px;
}